/* Artworks.css */
.ArtworkContainer {
  margin: 20px; /* Add space around the container */
  display: flex; /* Display cards in a row */
  flex-wrap: wrap; /* Wrap to the next row when necessary */
  justify-content: center; /* Center-align rows */
}

.ArtworkCard {
  width: calc(50% - 10px); /* Set the width to 50% of the container with margin */
  height: auto; /* Allow the card height to adjust based on content */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  margin-bottom: 20px; /* Add space between rows */
}

.ArtworkCard img {
  max-width: 100%;
  max-height: 80%;
  object-fit: cover;
  margin-bottom: 10px;
}

.Description {
  flex-grow: 1; /* Allow the description to expand vertically */
  word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
}