
.BlogCard {
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.BlogCard p {
    font-weight: bold;
}

.BlogCard h2 {
    font-size: 24px;
    font-weight: normal;
}
.BlogTable {
    width: 25%;
    border-collapse: separate;
    border-spacing: 20px; /* Adjust spacing between cells */
}

.BlogTable td {
    width: 50%; /* Ensure the two cells take up equal width */
    vertical-align: top; /* Align content at the top of the cell */
}

/* For devices with a width of up to 600px */
@media (max-width: 600px) {
    .BlogCard {
        flex: 0 0 100%;
        margin: 10px 0;
    }
}