.BlogTable {
    display: flex; /* Use flexbox to align items horizontally */
    flex-wrap: wrap; /* Allow wrapping of items to new rows */
    justify-content: space-between; /* Distribute items evenly with space between */
  }
  
  .BlogCard {
    flex: 0 0 calc(25% - 20px); /* Set width to 25% of the container width with some spacing */
    margin-bottom: 20px; /* Add some spacing between each card */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }