.MediaListPage {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.mediaTable {
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
}

.mediaTable td {
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    text-align: left;
}

#mediaDate {
    font-size: small;
    font-weight: bold;
    padding: 30px;
}

.mediaUrl img {
    max-width: 300px;
    border-radius: 5px;
}

.btn-delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-delete:hover {
    background-color: #c0392b;
}