.ProjectListPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 0 calc(50% - 10px); /* This will ensure two cards per row with a tiny space in between */
    background-size: cover;
    background-position: center;
    height: 200px; /* or whatever height you prefer */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black to ensure text is readable */
    padding: 10px 20px;
    border-radius: 5px;
}

/* Sample backgrounds for each card */
.card.christmasDesign {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.card.artProjects {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.card.specialEvents {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.card.boutonniersAndGifts {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.card.flowers {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.card.bouquets {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.BlogListPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem; /* for spacing between rows */
  }
  
  .BlogCard {
    flex: 1 0 calc(33.3333% - 1rem); /* taking into account the gap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adding a subtle shadow for depth */
    border-radius: 8px; /* Optional: rounding the corners */
    overflow: hidden; /* to ensure any child content respects the rounded corners */
    transition: transform 0.3s; /* Optional: for hover effect */
    margin-bottom: 1rem; /* space between rows */
  }
  
  .BlogCard:hover {
    transform: translateY(-10px); /* Optional: slight lift on hover */
  }
  
  .BlogCard img {
    width: 100%; /* Ensuring the image takes the full width of its container */
    height: auto;
    display: block; /* Removes any space underneath the image */
  }
  
  .BlogCard p {
    padding: 1rem; /* Spacing around the title */
    font-weight: bold;
    text-align: center;
  }