.ProjectListPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 0 calc(50% - 10px); /* This will ensure two cards per row with a tiny space in between */
    background-size: cover;
    background-position: center;
    height: 200px; /* or whatever height you prefer */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black to ensure text is readable */
    padding: 10px 20px;
    border-radius: 5px;
}

/* Sample backgrounds for each card */
.card.christmasDesign {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.card.artProjects {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.card.specialEvents {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.card.boutonniersAndGifts {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.card.flowers {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.card.bouquets {
    background-image: url('../Images/Logo-YK/icon1024_1.jpg');
}

.BlogBox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 150px;
  }
  
  .BlogListPage2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 6 images per row */
    gap: 7px; /* Adjust the gap as needed */
  }
  
  .BlogCard2 {
    position: relative;
    width: 100%;
    padding: 10px;
  }
  
  .BlogCard2 p {
    font-weight: bold;
  }
  
  .BlogCard2 img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ccc; /* Add a border for separation */
    border-radius: 10px;
    position: relative;
  }

  /* Style for the navigation container */
.navbar_Projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background: linear-gradient(45deg, #e44d26, #f16529);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    height: 30px;
    border-radius: 8px;
  }

  .navbar_Projects-list {
    list-style: none;
    display: flex;
    justify-content: space-around; 
    width: 100%;
    align-items: center;
  }
  
  /* Style for the navigation links */
  .navbar_Projects-link a {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    color: white;
    font-family: "spinnaker", sans-serif;
    font-weight: bold;
    position: relative;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  /* Style for the navigation links on hover */
  .navbar_Projects-link:hover {
    background-color: white; /* Hover background color */
  }

  .navbar_Projects-link:hover a {
    color: #e44d26; /* Hover color */
  }

  /* Center align the links within the container */
  .navbar_Projects-container {
    width: 100%;
    }